---
import * as splash from "../pages/home/intro.md";
import Link from "./Link.astro";
import SocialMedia from "./SocialMedia.astro";
---

<div class="splash-container">
  <div class="card-splash">
    <h5
      data-copy-sub={splash.frontmatter.slogan}
      style="--shade: var(--c-gray);"
    >
      {splash.frontmatter.slogan}
    </h5>
    <h1 data-copy={splash.frontmatter.title + " " + splash.frontmatter.name}>
      {splash.frontmatter.title}
      <span>{splash.frontmatter.name}</span>
    </h1>
    <p data-copy-description={splash.frontmatter.description}>
      {splash.frontmatter.description}
    </p>
    <div class="splash-links">
      <Link
        url="/work"
        text="View Portfolio"
        className="cta"
        title="View Portfolio"
      />
      <SocialMedia />
    </div>
  </div>
</div>

<style lang="scss">
  @import "../styles/mixin.scss";
  .splash-links {
    display: flex;
    flex-direction: column;
    margin-top: var(--m-medium);
    @include bp(768) {
      flex-direction: row;
    }
  }
  .splash-container {
    position: relative;
    margin-top: var(--m-large);
    margin-bottom: var(--m-medium);
    @include bp(1024) {
      margin-block: auto;
    }
  }
  .card-splash {
    cursor: default;
    max-width: rem(680);
    > h5 {
      --shade: rgba(var(--c-gray), 0.58);
      opacity: var(--opacity);
      font-size: rem(20);
      font-weight: 600;
      margin-bottom: rem(20);
      color: var(--c-white);
      font-weight: 400;
      font-family: var(--f-roboto-mono);
      width: fit-content;
      padding: rem(10) rem(20);
      position: relative;
      background-image: linear-gradient(
        var(--shade, --defaultShadeColor),
        var(--shade, --defaultShadeColor)
      );
      background-size: 70% rem(20);
      background-repeat: no-repeat;
      background-position: 0 calc(rem(20) / 5);
      // &::before {
      //   content: "";
      //   position: absolute;
      //   background: var(--shade, --defaultShadeColor);
      //   width: 70%;
      //   height: rem(16);
      //   z-index: -1;
      //   top: rem(16) - 0.7;
      //   left: 0;
      // }
    }
    > h1 {
      font-size: 7vw;
      font-weight: 100;
      color: var(--c-white);
      font-family: var(--f-abel);
      margin-bottom: calc(8vw / 2);
      > span {
        color: var(--c-green);
      }
      @include bp(600){
        font-size: 5vw;
      }
      @include bp(1024) {
        margin-bottom: calc(4vw / 2);
      }
      @include bp(1224) {
        font-size: rem(53);
        margin-bottom: calc(rem(53) / 2);
      }
    }
    > p {
      font-size: rem(18);
      color: var(--c-gray-400);
      line-height: 1.7;
      letter-spacing: 1px;
      font-family: var(--f-roboto-mono);
      font-weight: 100;
      margin: 0;
      @include bp(1050) {
        width: rem(510);
        font-size: rem(20);
      }
    }

    @include bp(1024) {
      // .cta {
      //   &::before {
      //     content: "";
      //     background: rgba(gray, 0.7);
      //     width: 210px;
      //     height: 21px;
      //     border-radius: 50px;
      //     filter: blur(10px) opacity(0.2);
      //     bottom: -80px;
      //     position: absolute;
      //   }
      // }
      // [data-copy-sub] ,
      // [data-copy],
      // [data-copy-description] {
      //   position: relative;
      //   &::before {
      //     pointer-events: none;
      //     position: absolute;
      //     filter: blur(1px) url("#turbulence") opacity(1);
      //     transform: rotateX(135deg);
      //   }
      // }
      // [data-copy] {
      //   &::before {
      //     content: attr(data-copy);
      //     bottom: rem(-390);
      //     white-space: nowrap;
      //     padding-right: rem(20);
      //     opacity: 0.1;
      //   }
      // }
      // [data-copy-description] {
      //   &::before {
      //     content: attr(data-copy-description);
      //     bottom: rem(-246);
      //     opacity: 0.3;
      //   }
      // }
      // [data-copy-sub] {
      //   &::before {
      //     content: attr(data-copy-sub);
      //     filter: blur(1px) url("#turbulence");
      //     opacity: 0.4;
      //     bottom: rem(-103);
      //     transform: rotateX(170deg) translateX(-11px);
      //     white-space: nowrap;
      //     padding-inline: 0.5rem;
      //     @include bp(1024) {
      //       bottom: rem(-144);
      //     }
      //     @include bp(1440) {
      //       bottom: rem(-192);
      //     }
      //   }
      // }
      // [data-copy-description] {
      //   &::before {
      //     content: attr(data-copy-sub);
      //     filter: blur(1px) url("#turbulence");
      //     opacity: 0.4;
      //     bottom: rem(-103);
      //     transform: rotateX(170deg) translateX(-11px);
      //     white-space: nowrap;
      //     padding-inline: 0.5rem;
      //   }
      // }
    }
  }
</style>
