---
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
  canonicalURL?: string;
}

const {
  title = "Jech | Web Developer and designer",
  description = "My name is Jech and I'm a Freelance Web Developer and designer from the Philippines",
  canonicalURL = new URL(Astro.url.pathname, Astro.site),
} = Astro.props as Props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>

<meta name="description" content={description} />

<!-- SEO -->
<link rel="canonical" href={canonicalURL} />

<!-- Open Graph Tags (Facebook) -->
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:url" content="https://jeeech.netlify.app/" />
<meta property="og:description" content={description} />
<meta property="og:image" content="/assets/og-cover.png" />

<link rel="icon" type="image/svg+xml" href="/assets/fav.svg" />
<link rel="mask-icon" href="/assets/fav.svg" color="#16161d" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link
  href="https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100&family=Rubik+Glitch&family=Roboto+Mono:wght@100;400&display=swap"
  rel="stylesheet"
/>
<style>
  a {
    color: white;
  }
</style>

<script defer event-uuid="5c10225f-dca1-467e-b936-818395092660" src="https://tracker.metricswave.com/js/visits.js"></script>
<!-- Google Tag Manager -->
<!-- <script is:inline>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-TV8NVWT");
</script> -->
<!-- End Google Tag Manager -->

<!-- Adsense -->
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0610053756453486" crossorigin="anonymous"></script> -->
<!-- End Adsense -->
