---
import SocialList from "./SocialList.astro";

const socialMedia = [
  {
    classes: "link-codepen",
    title: "devUI codepen",
    url: "https://codepen.io/co0kie",
    src: "../assets/codepen.svg",
    svg: `<svg class="svgIcon" width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13 1V6.5" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
<path d="M12.25 7.25C11.5245 7.34069 10.1026 8.5085 9.55553 9.05556C8.92624 9.68484 7.93055 9.93053 7.30553 10.5556C6.71587 11.1452 5.39444 11.1344 4.69442 11.6944C4.48276 11.8638 3.51255 12.2191 3.24998 12.25C2.78246 12.305 2.39055 12.8706 1.88887 13.0139C0.379641 13.4451 2.55953 14.4516 2.88887 14.875C3.46452 15.6151 4.23483 16.9879 4.87498 17.5C5.9317 18.3454 6.64588 19.3074 7.49998 20.375C8.12243 21.1531 9.49982 21.0338 10.1944 21.8056C10.5743 22.2276 10.8534 22.8428 11.3055 23.1944C11.4205 23.2838 12.224 22.2211 12.25 22C12.3975 20.7462 14.1313 20.7073 14.6944 19.75C15.1617 18.9557 16.4538 18.6573 17.0555 18.0556C17.3869 17.7242 17.7238 17.5709 18.0555 17.3056C18.3981 17.0315 18.992 16.4768 19.3889 16.25C22.8565 14.2685 17.528 13.2856 16.9861 11.3889C16.86 10.9476 16.1123 10.8181 16.0139 10.375C15.9114 9.91399 15.5885 9.58601 15.4861 9.125C15.3404 8.46944 14.1302 7.31511 13.5 7" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
<path d="M12.5 1.25C13.1972 1.25 13.8378 2.07024 14.375 2.5C14.707 2.76558 15.3424 3.69905 15.75 3.75C15.9435 3.77419 17.048 4.87253 17.25 5.125C17.6846 5.66827 18.6678 5.83159 19.1944 6.30556C19.797 6.84788 20.75 6.95128 20.75 7.875C20.75 8.6236 20.5369 9.37288 20.5 10C20.4234 11.303 20.1908 13.3815 20.75 14.5" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
<path d="M12.25 1.5C11.3321 1.5 11.1619 2.2573 10.3611 2.48611C9.73043 2.66631 9.45069 3.56766 8.86111 3.73611C8.56825 3.81979 7.20348 4.62064 7 4.875C6.70549 5.24314 5.54111 5.61325 5.11111 5.73611C4.47376 5.91821 3.63454 6.21267 3 6.25C1.92139 6.31345 1.75 6.7183 1.75 7.75C1.75 9.62407 1 11.2271 1 13" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
<path d="M1.5 7C2.71036 7 3.37338 8.22078 4.25 9C5.04074 9.70288 5.79657 10.4355 6.55556 11.1944C7.35654 11.9954 8.26363 13.2834 9.25 13.8056C10.0132 14.2096 11.114 14.9781 11.5 15.75" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
<path d="M20.25 7.5C20.118 8.68771 18.8041 9.30698 18.0556 10.0556C17.2253 10.8858 16.0952 11.4518 15.25 12.25C14.1808 13.2598 12.4901 14.8799 11.25 15.5" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
<path d="M10.75 16C10.75 17.375 10.75 18.75 10.75 20.125C10.75 21.1902 11.25 21.9855 11.25 23" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
</svg>
`,
    target: "_blank",
  },
  {
    classes: "link-youtube",
    title: "devUI youtube channel",
    url: "https://www.youtube.com/channel/UCZnuUnd4XeKxfuTPFFs9OBA",
    src: "../assets/youtube.svg",
    svg: `<svg class="svgIcon" width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.75 2.5C3.222 2.5 4.15787 1 5.625 1C7.22893 1 8.87614 0.750002 10.3611 0.750002C12.0324 0.750002 13.7037 0.750002 15.375 0.750002C16.5958 0.750002 19.3722 0.2777 20.25 1.375C20.5174 1.70923 21.4224 2.13854 21.8611 2.26389C22.0311 2.31247 22.9899 3.3288 23 3.5C23.0925 5.0717 23.25 6.42386 23.25 8C23.25 11.1646 23.2226 14.0823 22.25 17" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
<path d="M1.5 2.5C1.14746 5.32029 0.75 7.96136 0.75 11C0.75 12.4713 1 14.0324 1 15.375C1 15.9421 1.66507 16.7223 1.94444 17.25C2.05507 17.459 3.24558 18.25 3.375 18.25C4.0068 18.25 4.65852 18.75 5.375 18.75C6.28812 18.75 7.47207 18.8464 8.36111 19.0556C10.4828 19.5548 12.9273 19.25 15.125 19.25C16.75 19.25 18.375 19.25 20 19.25C21.8314 19.25 22.75 19.0381 22.75 17" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
<path d="M9.25 6C9.25 8.52373 9.75 10.8007 9.75 13.25" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
<path d="M9 6.25C10.2368 6.25 10.9894 7.60051 11.6944 8.30556C12.1233 8.73442 13.4276 9.93266 14 10C15.9423 10.2285 12.4428 11.7458 12.0556 12.0556C11.3628 12.6098 9.95395 12.5921 9.5 13.5" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
</svg>
`,
    target: "_blank",
  },
  {
    classes: "link-dribbble",
    title: "devui2022",
    url: "https://dribbble.com/devui2022",
    src: "../assets/dribbble.svg",
    svg: `<svg class="svgIcon" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.00001 1.75001C6.51938 1.75001 2.63696 4.94624 2.2639 6.62501C2.01557 7.74251 1.25001 8.7614 1.25001 10C1.25001 11.0112 0.875949 12.9767 1.37501 13.875C2.41737 15.7513 4.18204 18.3712 6.50001 18.5C7.82698 18.5737 9.12473 19 10.5 19C11.9319 19 13.375 19.055 14.8056 19C15.9704 18.9552 17.2961 17.8151 18.0556 17.0556C19.1673 15.9438 19.5 14.9475 19.5 13.3611C19.5 12.0349 19.6562 10.7013 19.0556 9.50001C18.4487 8.28625 17.646 7.26933 17 6.1389C16.4706 5.21244 15.7535 4.51998 15.25 3.6389C14.5978 2.49759 13.8221 2.42096 12.75 1.94446C11.7581 1.50363 5.00001 0.344797 5.00001 2.00001" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
<path d="M7.5 2C8.7355 2.15444 10.2471 4.52484 11.1111 5.38889C11.643 5.92078 11.6063 7.08503 12.125 7.5C12.5115 7.8092 13 9.17569 13 9.625C13 10.0947 13.4857 11.2804 13.6944 11.75C13.9808 12.3943 14 13.7883 14 14.5C14 15.4113 14.0535 16.3405 14 17.25C13.9602 17.9271 13.5 18.7996 13.5 19.5" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
<path d="M1.5 9.75C2.79562 9.75 4.14158 10 5.5 10C6.86651 10 8.04664 9 9.375 9C10.2115 9 11.87 8.29443 12.625 7.875C13.1291 7.59493 13.6957 7.30189 14.25 7.05556C14.8371 6.79462 14.995 6.25249 15.5 6" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
<path d="M6.5 18.25C6.5 15.2373 9.86983 14.6542 11.5556 13.3056C11.925 13.01 12.7774 13.0263 13.25 13C13.9217 12.9627 14.559 12.5 15.25 12.5C16.5812 12.5 17.6271 12.4386 18.75 13" stroke="white" stroke-opacity="0.5" stroke-linecap="round"/>
</svg>
`,
    target: "_blank",
  },
];
---

<div>
  {
    socialMedia.map((item) => (
      <SocialList
        title={item.title}
        url={item.url}
        src={item?.src}
        classes={item.classes}
        target={item.target}
        svg={item.svg}
      />
    ))
  }
</div>
<style lang="scss">
  @import "../styles/mixin.scss";
  div {
    margin-top: var(--m-medium);
    display: flex;
    align-items: center;
    @include bp(768) {
      margin-top: 0;
      margin-left: rem(48);
    }
  }
</style>
